default: &DEFAULT
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: root
  password: "$mysql_password"
  socket: /tmp/mysql.sock

development:
  <<: *DEFAULT
  database: $project_name_development

test:
  <<: *DEFAULT
  database: $project_name_test

staging:
  <<: *DEFAULT
  database: $project_name_staging

production:
  <<: *DEFAULT
  database: $project_name_production
